<nav class="top-menu">
    <a class="navbar-logo" routerLink=""><img src="http://www.univ.kiev.ua/img/photo/gerb.jpg" height="60" width="60"></a>
    <ul class="menu-main">
        <li><a routerLink="/app">Новини</a></li>
        <li><a routerLink="/teachers">Вчителі</a></li>
        <li><a routerLink="/admin">Aдміністратори</a></li>
    </ul>
</nav>
<h1 class="head">Додати адміністратора</h1>
<div class="container">
    <form #form1="ngForm" (ngSubmit) = "addUser(form1.value)">
        <input class="text" type="hidden" name="id" value="0"  ngModel>

        <label for="name">Login: </label>
        <input class="text" type="text" name="name"  placeholder="Enter login.." value="" ngModel><br>

        <label for="photo">Password: </label>
        <input class="text" type="text" name="login" placeholder="Enter password.." value="" ngModel><br>

        
        
        <input class="butt" type="submit" value="Додати" >
    </form>
    </div>
    <h1 class="head">Список адміністраторів</h1>
    <div class="container1">
    <ul>
        <li *ngFor="let n of userList" style="list-style-type: none; border-radius: 5px; background-color: #f2f2f2; margin-left: 15%; margin-right: 15%; margin-top: 5px; text-align: center">
        
         <h4>{{n.name}}</h4>  {{n.login}}<br><br>
        <span class="butt" (click)="deleteUser(n)">Видалити</span><br><br><br><hr/>
        </li>
    </ul>
    </div>
    <div>
        <app-update [user] = "selectedUser" (updeted)="updateUsers()"></app-update>
    </div>


<router-outlet></router-outlet>
